*{
    margin: 0;
    padding: 0;
    position: relative;
    width:auto;
    height:auto;
}
ul {
	list-style-type: none;
}
ul.navbar-right {
    margin-right: 0;
}
div.navbar.navbar-default{
    margin-bottom: 0;
}


