div.img {
	margin: 0;
	padding: 0;
}
img {
	height:50%;
	width:100%;
}
div.footer {
    margin-top:0;
    background-color: #c4c595;
    color: #2b2b2b;
    position: relative;
    bottom:0;
}
div.website-info {
    text-align:center;
    padding-top: 10px;
    padding-bottom: 5px;
}
p.two {
    margin-bottom: 5px;
}


/*div.hot-data{*/
/*	text-align: center;*/
/*	margin-top: 2em;*/
/*}*/
/*body{*/
/*    background-color: rgb(65, 72, 70);*/
/*}*/

/*div.space{*/
/*	height:100px;*/
/*}*/